/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*text-align: center;*/

}

/* targets the html element body */
body {
	/*background-color: skyblue;*/
	/*background-image: url("../images/bg.jpg");*/
	background-image: linear-gradient(rgba(127,255,212, 0.75), rgba(255,99,71,0.25)),  url("../images/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #f2f2f2;

}
/* end of body styling */


/* targets html element h1*/
h1 {
	font-size: 50px;
	background-color: #20B2AA;
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 3px;
	font-family: 'Livvic', sans-serif;
}
/* end of h1 styling*/

 /*start of h2 styling*/

 h2{
 	color: yellow;
 	text-transform: uppercase;
 	letter-spacing: 5px;
 	margin-bottom: 15px;
 	background-color: #20B2AA;
 	margin: 10px; /*margin creates space outside of the element*/
	padding: 10px; /* adds space inside the element */ 
	border-radius: 10px; 
	font-family: 'Livvic', sans-serif;
 }

/*end of h2 styling*/

 /*targets the element with the class bio*/

.bio {

	font-family: 'Raleway', sans-serif;
	font-size: 19.5px;
	background-color: rgba(51,51,51, 0.5);
	line-height: 1.75;
}
/*end of class bio styling */

/*targets the element with the id me*/
#me {
	height: 290px;
	width: 280px;
	border-radius: 50%;
	border-color: #bbb;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
} 
.container {
	width: 500px;
	text-align: center;
	margin: 0 auto; /* this will center the element horizontally*/

}
